html {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: auto;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-color: #D9534F ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding : 20px;
    margin: 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.header .left  { 
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    gap : 10px;
    
}

.left img {
    width: 100px;
    height: 100px;
    background-color: #e5e5e5;
    border-radius: 100%;
}
.left p {
    font-size: 50px;
    font-weight: bold;
    color: rgb(223, 223, 223);
}


.header .center {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.center a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
    text-align: center;
}
.header .right {
    flex: 1;
    display: flex;
    justify-content: end;
    gap : 10px;
    flex-wrap: wrap;
    
}
.right button {
    background-color: rgb(75, 15, 15); 
    color: #FFFFFF; 
    padding: 15px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.right button:hover {
    background-color: #F5F5F5; 
    color: rgb(75, 15, 15);
}

.content-one {
    border-top: 2px rgb(222, 222, 222) solid;
    background-color: #F5F5F5;
    margin: 0;
    padding: 70px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.content-one .images {
    display: flex;
    justify-content: space-between;
}
.images img {
    width: 48%;
    border-radius: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.content-one h1 {
    margin: 0;
    padding-top: 90px;
    color: rgb(189, 18, 18);
    font-size: 80px;
    text-align: center;
}
.content-one p {
    font-size: 40px;
    text-align: center;
}
.button-one {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 20px; 
    font-size: 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    align-self: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.content-one button:hover {
    background-color: #45a049;
}
.button-two {
    background-color: #809e8094; 
    color: rgb(236, 236, 236); 
    padding: 15px 20px; 
    font-size: 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    align-self: center;
}
.content-one button:hover {
    background-color: #45a049;
}




.bloc-one {
    border-top: 2px rgb(222, 222, 222) solid;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.content-two h1 {
    text-align: center;
}
.menue {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.meals img {
    border-radius: 26px;
    box-shadow: 20px;
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.meals {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 26px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.meals:hover {
    background-color: #D9534F;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    color: antiquewhite;
    height: 600px;
    font-size: 25px;
}
.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding : 10px 50px ; 
}
.shop img {
    width: 50px;
    height: 50px;
    background-color: #e5e5e5;

}

.meals p {
    text-align: center;
}
.bloc-two {
    background-color: #f0f0f0;
    padding: 20px;
    border-top: 2px rgb(222, 222, 222) solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}








.content-three{
    border-top: 2px rgb(222, 222, 222) solid;background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 50px 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.content-three .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: self-end;
}
.left li {
    list-style: none;
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
}
.left ul {
    margin: 0;
    padding: 0;
}
.content-three h1 {
    font-size: 40px;
}


.content-three .center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    align-self: self-start;
}

.center button {
    background-color: #4CAF50; 
    color: white; 
    padding: 15px 20px; 
    font-size: 24px; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.content-three button:hover {
    background-color: #45a049;
}

.content-three .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    align-self: self-end;
}
.right p {
    margin: 0;
    color: #D9534F;
}


footer {
    background-color: #132337;
    color: #F5F5F5;
    text-align: center;
    padding: 20px;
}